@using ROBO.Core;
@using Newtonsoft.Json;

@model IRobot

@{
    ViewData["Title"] = "R.O.B.O Controller Interface";
}

<div class="text-center">
    <h1 class="display-4">R.O.B.O is Online</h1>

    <div class="row">

        @foreach (var part in Model.BodyPartCollection)
        {
            <div class="col-md-4">
                <h4>@part.Name</h4>

                <div class="row">

                    @foreach (var subPart in part.BodyParts)
                    {
                    <div class="col-md-6">    
                        <div class="mt-2">
                            <div class="btn-group btn-group-sm">
                                @{
                                    var firstDisabled = subPart.StateMachine.GetState().StateEnum == subPart.StateMachine.States.First().StateEnum ? "disabled" : "";
                                    var lastDisabled = subPart.StateMachine.GetState().StateEnum == subPart.StateMachine.States.Last().StateEnum ? "disabled" : "";
                                }
                                <button type="button" class="btn btn-secondary disabled">@subPart.Name</button>
                                <button type="button" class="btn btn-primary @firstDisabled"><i class="fa fa-arrow-up"></i></button>
                                <button type="button" class="btn btn-primary @lastDisabled"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="list-group">

                                @foreach (var state in subPart.StateMachine.States)
                                {
                                    var active = state == subPart.StateMachine.GetState() ? "active" : "";
                                    var disabled = subPart.StateMachine.CanModify ? "" : "disabled";

                                    <button type="button" class="py-1 list-group-item list-group-item-action @active @disabled">@state.StateEnum.GetDescription()</button>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
