@using ROBO.Core.Entities;
@using Newtonsoft.Json;

@model IRobot

@{
    ViewData["Title"] = "R.O.B.O Controller Interface";
}

<div class="text-center">
    <h1 class="display-4">R.O.B.O is Online</h1>

    <div class="row">

        @foreach (var part in Model.BodyPartCollection)
        {
            <div class="col-md-4">
                <h4>@part.Name</h4>

                <div class="row">

                    @foreach (var subPart in part.BodyParts)
                    {
                    <div class="col-md-6">    
                        <div class="mt-2">
                            <div class="btn-group btn-group-sm">
                                @{
                                    var disabled = subPart.CanModify ? "" : "disabled";

                                    var firstDisabled = subPart.GetState().StateEnum == subPart.States.First().StateEnum ? "disabled" : "";
                                    var lastDisabled = subPart.GetState().StateEnum == subPart.States.Last().StateEnum ? "disabled" : "";
                                }
                                <button type="button" class="btn btn-secondary disabled">@subPart.Name</button>
                                <button type="button" class="btn btn-primary @disabled @firstDisabled previousState" @disabled @firstDisabled data-body-part-collection-id="@part.Id" data-body-part-id="@subPart.Id"><i class="fa fa-arrow-up"></i></button>
                                <button type="button" class="btn btn-primary @disabled @lastDisabled nextState" @disabled @lastDisabled data-body-part-collection-id="@part.Id" data-body-part-id="@subPart.Id"><i class="fa fa-arrow-down"></i></button>
                            </div>
                        </div>

                        <div class="mt-4">
                            <ul class="list-group">

                                @foreach (var state in subPart.States)
                                {
                                    var active = state == subPart.GetState() ? "active" : "";                                    

                                    <li class="py-1 list-group-item list-group-item-action @active @disabled">@state.StateEnum.GetDescription()</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        
        $(document).ready(function () {
            $("button.nextState").on("click", function () {
                let bodyPartCollectionId = getBodyPartCollectionId($(this));
                let bodyPartId = getBodyPartId($(this));

                nextStateOfBodyPart(bodyPartCollectionId, bodyPartId);
            });

            $("button.previousState").on("click", function () {
                let bodyPartCollectionId = getBodyPartCollectionId($(this));
                let bodyPartId = getBodyPartId($(this));

                previousStateOfBodyPart(bodyPartCollectionId, bodyPartId);
            });
        });

        function getBodyPartCollectionId($btn) {
            return $btn.attr('data-body-part-collection-id');
        }

        function getBodyPartId($btn) {
            return $btn.attr('data-body-part-id');
        }

        function nextStateOfBodyPart(bodyPartCollectionId, bodyPartId) {
            var data = JSON.stringify({ bodyPartCollectionId: bodyPartCollectionId, bodyPartId: bodyPartId });

            $.ajax({
                type: "POST",
                url: "/ROBOApi/NextStateOfBodyPart",
                contentType: "application/json",                
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data) {
                        window.location.href = window.location.href;
                    } else {
                        alert("Invalid");
                    }
                }
            });
        }

        function previousStateOfBodyPart(bodyPartCollectionId, bodyPartId) {
            var data = JSON.stringify({ bodyPartCollectionId: bodyPartCollectionId, bodyPartId: bodyPartId });

            $.ajax({
                type: "POST",
                url: "/ROBOApi/PreviousStateOfBodyPart",
                contentType: "application/json",                
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data) {
                        window.location.href = window.location.href;
                    } else {
                        alert("Invalid");
                    }
                }
            });
        }

    </script>
}
